/*Define overlay image and layout*/
/*TODO: Allow user configuration*/
body {
    background-image: url("overlay.png");
    background-repeat: no-repeat;
    background-color: rgb(0,255,0);
    color: white;
    font-family: Arial;
    font-size: 25pt;
}

#team1 {
    position: fixed;
    left: 290px;
    top: 68px;
    text-align: right;
}

#team2 {
    position: fixed;
    left: 290px;
    top: 131px;
    text-align: right;
}

#score1 {
    position: fixed;
    left: 436px;
    top: 68px;
    text-align: left;
}

#score2 {
    position: fixed;
    left: 436px;
    top: 131px;
    text-align: left;
}

#bestof {
    position: fixed;
    left: 452px;
    top: 33px;
    text-align: left;
    font-size: 22px;
}

#title {
    position: fixed;
    left: 100px;
    top: 200px;
}

/*Link style*/
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}